<ul class="timeline">
  
  <!-- CSIRO R&D Coach-->
  <li class="timeline-item">
    <div class="timeline-time">Jun 2025 — Sep 2025</div>
    <h3 class="timeline-title">R&D Coach - Innovate to Grow Program</h3>
    <div class="timeline-meta">
      Commonwealth Scientific & Industrial Research Organisation (CSIRO), Australia
    </div>
  </li>
  
  <!-- ATSE / IMNIS Catalyst-->
  <li class="timeline-item">
    <div class="timeline-time">May 2024 — Apr 2025</div>
    <h3 class="timeline-title">IMNIS Catalyst</h3>
    <div class="timeline-meta">
      Australian Academy of Technological Sciences & Engineering (ATSE)
    </div>
  </li>

  <!-- Startmate -->
  <li class="timeline-item">
    <div class="timeline-time">May 2023 — July 2023</div>
    <h3 class="timeline-title">Student Fellow — Winter Cohort</h3>
    <div class="timeline-meta">
      Startmate, Australia
    </div>
  </li>

  <!-- ATSE / IMNIS Engage -->
  <li class="timeline-item">
    <div class="timeline-time">Dec 2022 — Nov 2023</div>
    <h3 class="timeline-title">IMNIS Engage Mentee</h3>
    <div class="timeline-meta">
      Australian Academy of Technological Sciences & Engineering (ATSE)
    </div>
  </li>
 
  <!-- Rotaract Alumni Mora -->
  <li class="timeline-item">
    <div class="timeline-time">Jul 2015 – Jun 2016</div>
    <h3 class="timeline-title">Director – Community Service</h3>
    <div class="timeline-meta">
      Rotaract Club of Alumni of University of Moratuwa, Sri Lanka
    </div>
  </li>

  <!-- Rotaract Mora -->
  <li class="timeline-item">
    <div class="timeline-time">Jul 2014 – Jun 2015</div>
    <h3 class="timeline-title">Director – Public Relations</h3>
    <div class="timeline-meta">
      Rotaract Club of University of Moratuwa, Sri Lanka
    </div>
  </li>

    <!-- IEEE Student Branch -->
  <li class="timeline-item">
    <div class="timeline-time">Feb 2014 – Jan 2015</div>
    <h3 class="timeline-title">Secretary – Robotics & Automation Society Student Chapter</h3>
    <div class="timeline-meta">
      IEEE Student Branch of University of Moratuwa, Sri Lanka
    </div>
  </li>
  
</ul>
